<TableControls
  @onClickCheckbox={{this.toggleAll}}
  @onClickDownload={{this.onClickDownload}}
  @numberOfOptions={{@data.length}}
  @selectedRows={{this.selectedRows}}
/>

{{!-- using a table for the built in space calculation, could use divs/lists instead with CSS grid? probably more accessible as rows are not tabbable --}}
<table class="file-list">
  <thead class="bg-gray-200">
    <tr>
      <th class="checkbox-cell"></th>
      {{!-- use dynamic column names rather than hard coding --}}
      {{!-- {{#each this.namedColumns as |column|}}
        <th class="{{if (eq column 'status') 'status-cell'}}">{{column}}</th>
      {{/each}} --}}
      
      <th class="">Name</th>
      <th class="">Device</th>
      <th class="">Path</th>
      <th class="status-cell">Status</th>
    </tr>
  </thead>
  <tbody>
    {{!-- Not a great solution for thousands of rows; would require virtualization for better performance
      ember-table with ember-collection?
      other off the shelf solution?
     --}}
    {{#each @data as |row index|}}
      <TableRow
        @row={{row}}
        @isSelected={{set-has this.selectedRows index}}
        @onClick={{fn this.toggleRow index}}
      />
    {{/each}}
  </tbody>
</table>